body, html {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.bg {
  position: relative;
  background-image: url("https://images.wallpapersden.com/image/download/marco-one-piece-art_bGZpam6UmZqaraWkpJRobWllrWdma2U.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.audio-control {
  margin: 0 auto;
  border: 3px solid green;
}
